*{
    margin: 0;
    padding: 0; 
    outline: none;
    font-family: 'Fredoka One', cursive;
}

.banner img {
    width: 100%;
}

.saudacao {
    width: 100vw;
    height: 150px;
    background-color: #ff2e51;
    margin-top: -5px;
    display: flex;
}

h3 {
    font-size: 35px;
    color: white;
    padding: 20px 30px;
    font-weight: lighter;
}

p {
    font-size: 15px;
    padding: 6px 35px;
    width: 700px;
    color: white;
    margin-top: 60px;
    margin-left: -331px;
    font-weight: lighter;
}

.saibamais_btn{
    background-color: #8f85b9;
    height: 25px;
    width: 300px;
    border: #8f85b9 solid 10px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 120px;
    color: white;
    padding: 2px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.saibamais_btn:hover {
    transform: translateZ(-10px);
    box-shadow: 0px 5px 5px 0px #8f85b9;
}