* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  :root {
    --criticoQuente: #ff0000;
    --alertaQuente: #ff9933;
    --ideal: #03bb85;
    --alertaFrio: #287bff;
    --criticoFrio: #6600ff;
    --blue: #add8e6;
    --pink: #e74f89;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
  }
  
  .navigation.active {
    width: 70px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background: var(--white);
  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--pink);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }
  
  .navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0.1px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  .navigation ul li a .spotlight {
    color: var(--pink);
  }
  
  /* Curva na saída do hover */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
  }
  
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
  }
  
  /* Principal */
  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  
  .main.active {
    width: calc(100% - 70px);
    left: 70px;
  }
  
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
  }
  
  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  
  /* .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
  }
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }*/
  
  .search .spotlight {
    color: var(--pink);
  }
  
  .user {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .user .icone {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  
  .cardBox .card,
  .cardAlert .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
  }
  
  .cardBox .card .numbers,
  .cardAlert .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
  }
  
  .cardBox .card:nth-child(1) {
    background: var(--criticoFrio);
    color: var(--white);
  }
  
  .cardBox .card:nth-child(2) {
    background: var(--alertaFrio);
    color: var(--white);
  }
  
  .cardBox .card:nth-child(3) {
    background: var(--ideal);
    color: var(--white);
  }
  
  .cardBox .card:nth-child(4) {
    background: var(--alertaQuente);
    color: var(--white);
  }
  
  .cardBox .card:nth-child(5) {
    background: var(--criticoQuente);
    color: var(--white);
  }
  
  .cardBox .card .cardName {
    color: var(--white);
  }
  
  .cardBox .card .iconbx {
    font-size: 3.5rem;
    color: var(--white);
  }
  
  .cardAlert .card .cardName {
    font-size: 1.1rem;
    color: var(--black2);
  }
  
  .cardAlert .card:nth-child(1) {
    font-size: 3.5rem;
    color: var(--criticoFrio);
  }
  
  .cardAlert .card:nth-child(2) {
    font-size: 3.5rem;
    color: var(--alertaFrio);
  }
  
  .cardAlert .card:nth-child(3) {
    font-size: 3.5rem;
    color: var(--ideal);
  }
  
  .cardAlert .card:nth-child(4) {
    font-size: 3.5rem;
    color: var(--alertaQuente);
  }
  
  .cardAlert .card:hover .numbers,
  .cardAlert .card:hover .iconbx,
  .cardAlert .card:hover .cardName {
    color: var(--white);
  }
  
  .cardAlert {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .details {
    position: relative;
    width: 100%;
    padding: 20;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  }
  
  .details .ordersTemp {
    position: relative;
    width: 100%;
    display: grid;
    min-height: 500px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }
  
  .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .details table thead td {
    font-weight: 600;
  }
  
  .details .ordersTemp table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .details .ordersTemp table tr:last-child {
    border-bottom: none;
  }
  
  .details .ordersTemp table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  
  .details .ordersTemp table tr td {
    padding: 10px;
  }
  
  .details .ordersTemp table tr:hover td .btn-model {
    position: relative;
    padding: 5px 10px;
    background: var(--pink);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
  }
  
  .details .ordersTemp table tr td:last-child {
    text-align: end;
  }
  
  .details .ordersTemp table tr td:nth-child(2) {
    text-align: end;
  }
  
  .details .ordersTemp table tr td:nth-child(3) {
    text-align: center;
  }
  
  .status.ideal {
    padding: 2px 4px;
    background: var(--ideal);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .status.alerta-quente {
    padding: 2px 4px;
    background: var(--alertaQuente);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .status.critico-frio {
    padding: 2px 4px;
    background: var(--criticoFrio);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .status.alerta-frio {
    padding: 2px 4px;
    background: var(--alertaFrio);
    color: var(--white);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .recentTemp {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .recentTemp .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .recentTemp .imgBx .ion,
  .ionCF,
  .ionAF,
  .ionCQ,
  .ionAQ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recentTemp .imgBx .ion {
    color: var(--ideal);
  }
  
  .recentTemp .imgBx .ionCF {
    color: var(--criticoFrio);
  }
  
  .recentTemp .imgBx .ionAF {
    color: var(--alertaFrio);
  }
  
  .recentTemp .imgBx .ionAQ {
    color: var(--alertaQuente);
  }
  
  .recentTemp .imgBx .ionCQ {
    color: var(--criticoQuente);
  }
  
  .recentTemp table tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  
  .recentTemp table tr td {
    padding: 12px 10px;
  }
  
  .recentTemp table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
  }
  
  .recentTemp table tr td h4 .critico-frio {
    font-size: 14px;
    color: var(--criticoFrio);
  }
  
  .recentTemp table tr td h4 .alerta-frio {
    font-size: 14px;
    color: var(--alertaFrio);
  }
  
  .recentTemp table tr td h4 .alerta-quente {
    font-size: 14px;
    color: var(--alertaQuente);
  }
  
  .recentTemp table tr td h4 .ideal {
    font-size: 14px;
    color: var(--ideal);
  }
  
  .recentTemp table tr td h4 .critico-quente {
    font-size: 14px;
    color: var(--criticoQuente);
  }
  
  .recentTemp table tr:hover {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .recentTemp table tr:hover td h4 span {
    color: var(--white);
  }
  
  .graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
  }
  
  .graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .graphBox .box:nth-child(1) {
  
    height: 600px;
    width: 1200px;
  
  }
  
  /* MODAL */
  
  .modal-container {
    width: 83vw;
    position: fixed;
    top: 30px;
    z-index: 9999;
    display: none;
  }
  
  .modal {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    background: var(--grey);
    border-radius: 10px;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
  }
  
  .abre {
    display: flex;
  }
  
  .abre .modal {
    animation: modal 0.4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .modal-container .modal .btn {
    height: 30px;
    width: 70px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .modal-container .modal h1 span {
    color: var(--pink);
  }