* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Fredoka One', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background_site.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

h1 {
    font-size: 30px;
    text-align:justify;
    color:#8f85b9;
}

.box_cadastro {
    padding: 0 20px;
    background-color: #d260ff56;
    width: 500px;
    height: 800px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    border: 6px #d260ff56;
    border-radius: 15px;
    
}

.img_cadastro img {
    height: 800px;
    margin-top: 50px;
    margin-left: 50px;
    animation: bounce infinite linear 2s;
}

.div_cadastro {
    display: flex;
    margin-left: 20px;
    margin-right: 90px;
}

.box_inputs {
    color: #8f85b9;
    height: 100px;
    width: 314px;
    margin-top: 50px;
    margin-left: 70px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 314px;
}

form label {
    margin-top: 3px;
}

form input {
    margin-top: 2px;
    outline: none;
    padding: 5px;
    width: 300px;
    height: 25px;
    background-color: white;
    border: 2px solid #ffc9dc36;
    justify-content: space-between;
}

form button {
    margin-top: 16px;
    background-color: #ff2e51;
    color: white;
    padding: 10px 15px;
    width: 400px;
    align-self: center;
    font-size: 18px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

button:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.45);
}
footer {
    background: #ffe5ad;
    padding: 2px 0;
    height: 80px;
    margin-top: 60px;
}

.footer_msg {
    font-size: 10px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 0;
}
@keyframes bounce {
    0% {
        top: 30px
    }

    50% {
        top: 50px
    }

    100% {
        top: 30px
    }
}