*{
    margin: 0;
    padding: 0; 
    outline: none;
    font-family: 'Fredoka One', cursive;
}

footer {
    background: #ffe5ad;
    padding: 10px 0;
    bottom: 0;
    width: 100%;

}

.footer_msg {
    font-size: 10px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 0;
}