*{
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background_site.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgImage {
    position: absolute;
    bottom: 80px;
    height: 500px;
}

.quiz {
    height: 100vh;
}

#startQuiz {
    background: #8f85b9;
    border: #8f85b9 solid 3px;
    border-radius: 55px;
    color: white;
    padding: 20px 60px;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    width: 300px;
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


#startQuiz:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px 0px #8f85b9;
    background: #ff2e51;
    border: #ff2e51 solid 3px;
}

.pergunta {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 30px;
}

.pergunta.active{
    display: flex;  
}

.pergunta_box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pergunta_box_btn {
    padding: 10px 30px;
    margin: 0 5px ;
    background: #8f85b9;
    border: #8f85b9 solid 3px;
    border-radius: 25px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.5px;
}

.pergunta_box_btn:hover {
    box-shadow: 0px 1px 1px 0px #8f85b9;
    background: #ff2e51;
    border: #ff2e51 solid 3px;
}

.pergunta_img {
    height: 300px;
    margin: 20px 0;
}

.resultsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

